body
{
	background-color: #895f5f;
	color: #2b1717;
}

h1
{
	color: #d39696;	 
}

h2
{
	color: white;
	background-color: #260101;
	padding: 5px;
}

p.formula
{
	font-weight: bold;
	font-style: italic;
	text-align: center;
}

span.formula
{
	font-weight: bold;
	font-style: italic;
	text-align: center;
}

p.definition
{
	padding: 10px;
	border: 1px solid #000;
}
